@use '../global/' as *;

.c-button{
  display: inline-block;
  border: 1px solid $primary-color;
  border-radius: rem(120);
  color: $primary-color;
  font-size: rem(14);
  padding:rem(5) rem(40);
  position: relative;
  &::before{
    content: '';
    background: url(../img/index/blue-arrow.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: rem(10);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: rem(14);
    height: rem(14);
    transition: right .3s;
    &:hover{
      right: rem(5);
    }
  }
}
