@use '../global/' as *;

.c-button{
  display: inline-block;
  border: 1px solid $primary-color;
  border-radius: rem(120);
  color: $primary-color;
  font-size: rem(14);
  padding:rem(5) rem(46);
  position: relative;
  transition:background-color .3s, border .3s, color .3s;
  &:hover{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;
    &::before{
      background: url(../img/common/white-arrow.svg) no-repeat;
      right: rem(5);
    }
  }
}
.c-button--white{
  background-color: #fff;
  &:hover{
    background: $primary-color;
  }
}
.c-button--arrow{
  &::before{
    content: '';
    background: url(../img/index/blue-arrow.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: rem(10);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: rem(14);
    height: rem(14);
    transition: right .3s, background-color .3s;
  }
}
.c-button--large{
  max-width: rem(360);
  width: 100%;
  padding: rem(13) 0;
  font-size: rem(16);
}
