@use '../global/' as *;

.c-section-title{
  font-size: rem(20);
  font-weight: bold;
  line-height: calc(28/20);
  letter-spacing: .08em;
  position: relative;
  text-align: center;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  @include mq('md'){
    font-size: rem(28);
  }

  &:before{
    content: '';
    display: inline-block;
    background: url(../img/index/recommend-deco.svg) no-repeat center center / contain;
    width: rem(50);
    height: rem(13);
    margin-right: rem(12);
    @include mq('md'){
      width: rem(70);
      height: rem(20);
      margin-right: rem(28);
    }
  }
  &:after{
    content: '';
    display: inline-block;
    background: url(../img/index/recommend-deco.svg) no-repeat center center / contain;
    width: rem(50);
    height: rem(13);
    margin-left: rem(12);
    @include mq('md'){
      width: rem(70);
      height: rem(20);
      margin-left: rem(28);
    }
  }
}
