@use '../global/' as *;

.c-widget-title {
  font-size: rem(16);
  font-weight: bold;
  line-height: calc(20 / 16);
  padding-bottom: rem(10);
  border-bottom: 1px solid #888888;
  &::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
  }
  &.c-widget-title--building{
    &::before{
      background-image: url("../img/icons/icon-building.svg");
    }
  }
  &.c-widget-title--newpost{
    &::before{
      background-image: url("../img/icons/icon-newpost.svg");
    }
  }
  &.c-widget-title--category{
    &::before{
      background-image: url("../img/icons/icon-folder.svg");
    }
  }
}
