@use '../global/' as *;

.p-company-tel{
  font-size: 32px;
  line-height: calc(36 / 24);
  margin-top: 5px;
  font-weight: bold;
  color: $primary-color;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: baseline;
  a{
    color: $primary-color;
  }
  img{
    width: rem(30);
    margin-right: rem(5);
    vertical-align: middle;
  }
}
