@use '../global/' as *;

.c-hamburger{
  border: none;
  background-color: transparent;
  width: rem(28);
  z-index: 101;
  @include mq('xl'){
    display: none;
  }
}
.c-hamburger span{
  width: 100%;
  height: rem(3);
  border-radius: rem(2);
  background-color: $primary-color;
  position: relative;
  transition: ease .3s;
  display: block;
}
.c-hamburger span:nth-child(1){
  top:0;
}
.c-hamburger span:nth-child(2){
  margin: rem(4) 0;
}
.c-hamburger span:nth-child(3){
  top:0
}
.c-hamburger__menu{
  color: $primary-color;
  font-weight: bold;
  font-size: rem(14);
}
/* クリック時のハンバーガーメニューのスタイリング */
.c-hamburger.is-checked span{
  background-color: $primary-color;
}
.c-hamburger.is-checked span:nth-child(1){
  top:rem(12);
  transform: rotate(45deg);
}
.c-hamburger.is-checked span:nth-child(2){
  opacity: 0;
}
.c-hamburger.is-checked span:nth-child(3){
  top: rem(-1);
  transform: rotate(-45deg);
}
