@use '../global/' as *;

.l-copy-right{
  padding: rem(17) 0 rem(72);
  background-color: $primary-color;
  margin-top: rem(56);
  @include mq('lg'){
    margin-top: rem(50);
  }
}
.l-copy-right__text{
  color: #fff;
  font-size: rem(14);
  text-align: center;
  display: block;
}
