@use '../global/' as *;

.l-footer{
  background-color: $sub-color02;
  padding-top: rem(30);
  @include mq('md'){
    padding-top: rem(50);
  }
}
.l-footer__inner{
  padding: 0 rem(10);
  margin-left: auto;
  margin-right: auto;
  @include mq('md'){
    max-width: 100%;
    width: rem(1040);
    padding: 0 2rem;
  }
}
.l-footer__contents{
  background-color: #fff;
  padding: rem(27) rem(10) rem(20);
  border-radius: rem(8);
  @include mq('md'){
    display: flex;
    padding:rem(40) rem(47);
    border-radius: rem(20);
  }
}
.l-footer-deco-top{
  margin-top: rem(100);
  height: 4vw;
  width: 100%;
  position: relative;
  &:before{
    content: '';
    display: inline-block;
    background: url(../img/index/deco-wave-sp.png) no-repeat top center / cover ;
    height: inherit;
    width: 100%;
    position: absolute;
  }
  @include mq('md'){
    margin-top: rem(160);
    height: 3vw;
    &:before{
      background: url(../img/index/deco-wave-pc.png) no-repeat top center / cover ;
    }
  }
}
.l-footer__nav{
  margin-top: rem(63);
  @include mq('md'){
    margin-top: rem(35);
  }
}
