@use '../global/' as *;

.l-header-contents{
  display: flex;
}
.l-header-contents__item{
  text-align: center;
}
.l-header-contents__link{
  padding: 0 rem(12);
  font-size: rem(11);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: fill .3s, color .3s;
  &:hover{
    svg{
      fill:$primary-color;
    }
    .l-header-contents__text{
      color:$primary-color;
    }
  }
  &.is-active{
    color: $primary-color;
    svg{
      fill: $primary-color;
    }
  }
}
.l-header-contents__text{
  margin-top: rem(6);
  line-height: 1;
  font-weight: bold;
  transition: color .3s;
  &:hover{
  }
}
