@use '../global/' as *;

.u-sp-hidden{
  display: none;
  @include mq('lg'){
    display: block;
  }
}
.u-pc-hidden{
  display: block;
  @include mq('lg'){
    display: none;
  }
}
.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}