@use '../global/' as *;

.p-cta-bottom{
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  padding: rem(8) rem(20);
  @include mq('md'){
    display: none;
  }
}
.p-cta-bottom__reservation{
  background-color: $primary-color;
  display: flex;
  align-items: center;
  padding: rem(6) rem(16) rem(6) rem(16);
  border-radius: rem(8);
  margin-left: rem(12);
}
.p-cta-bottom__text--large{
  font-size: rem(16);
}
.p-cta-bottom__text{
  text-align: center;
  font-size: rem(12);
  color: #fff;
  margin-left: rem(12);
}