@use "../global/" as *;

.p-footer-contents__map {
  margin-top: rem(15);
  @include mq("md") {
    max-width: rem(385);
    width: 100%;
    margin: rem(10) 0 rem(10) rem(40);
  }
}
.p-footer-contents__iframe {
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 0;
  @include mq("md") {
    padding-top: 100%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.p-footer-contents__address {
  font-size: rem(14);
  text-align: center;
  margin-top: rem(9);
  line-height: 1;
}
.p-footer-contents__logo {
  max-width: rem(402);
  margin-left: auto;
  margin-right: auto;
}
.p-footer-contents__tel {
  margin-top: rem(10);
}
.p-footer-contents__zip {
  margin-right: rem(10);
}
.p-footer-contents__buttons {
  display: flex;
  justify-content: center;
  margin-top: rem(20);
  margin-left: rem(-7.5);
  margin-right: rem(-7.5);
  @include mq("md") {
    margin-right: rem(-10);
    margin-left: rem(-10);
  }
}
.p-footer-button {
  display: inline-block;
  text-align: center;
  font-size: rem(14);
  line-height: calc(26 / 14);
  border-radius: rem(40);
  width: 100%;
  max-width: rem(220);
  background-color: $primary-color;
  color: #fff;
  padding: rem(8) rem(10);
  margin: 0 rem(7.5);
  position: relative;
  line-height: calc(26 / 14);
  &:before {
    content: "";
    display: inline-block;
    width: rem(20);
    height: rem(20);
    vertical-align: middle;
    margin-right: rem(10);
  }
  @include mq("md") {
    font-size: rem(16);
    padding: rem(12) rem(10);
    margin: 0 rem(10);
  }
}

.p-footer-button--reservation {
  &::before {
    background: url(../img/common/icon-pc.svg) no-repeat center center / contain;
  }
}
.p-footer-button--contact {
  background-color: #fff;
  border: rem(1) solid $primary-color;
  color: $primary-color;
  &::before {
    background: url(../img/common/icon-mail.svg) no-repeat center center /
      contain;
  }
}
.p-footer-contents__calendar {
  margin-top: rem(20);
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.p-footer-contents__info {
  @include mq("md") {
    max-width: rem(475);
    margin-top: rem(20);
    width: 100%;
    text-align: center;
  }
}
