@use "../global/" as *;

.p-footer-nav {
  @include mq("lg") {
    display: flex;
    justify-content: center;
  }
}

.p-footer-nav__contents {
  &:not(:first-child) {
    margin-top: rem(40);
  }
  @include mq("lg") {
    &:not(:first-child) {
      margin-top: rem(0);
      margin-left: rem(40);
    }
  }
}

.p-footer-nav__heading {
  font-size: rem(16);
  font-weight: bold;
  line-height: 1.6;
}
.p-footer-nav__list{
  &:nth-child(n+2){
    margin-left: rem(20);
  }
}
.p-footer-nav__item {
  margin-top: rem(20);
}
.p-footer-nav__link {
  display: inline-block;
  padding: 0 0 0 rem(15);
  font-size: rem(16);
  position: relative;
  @include mq("lg") {
    font-size: rem(16);
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-left: 5px solid $primary-color;
  }
}
.p-footer-nav__list-wrapper {
  display: flex;
}