@use "../global/" as *;

.p-plan {
  margin-top: rem(100);
  position: relative;
  @include mq("md") {
    margin-top: rem(140);
  }
}
.p-plan__inner {
  @include mq("md") {
    max-width: rem(1040);
  }
}
.p-plan__bg {
  background-color: $sub-color02;
  padding-top: rem(36);
  padding-bottom: rem(57);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/index/deco-onestar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(30);
    height: rem(30);
    bottom: rem(10);
    left: rem(12);
    @include mq('md'){
      width: rem(57);
      height: rem(57);
    }
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/index/deco-twostar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(60);
    height: rem(60);
    bottom: 0;
    right: rem(4);
    @include mq("md") {
      width: rem(125);
      height: rem(130);
    }
  }
  @include mq("md") {
    padding-top: 0;
    padding-bottom: rem(65);
  }
}

.p-plan__list {
  margin-top: rem(40);
  @include mq("md") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-top: rem(60);
    margin-right: auto;
    margin-left: auto;
  }
}
.p-plan__item {
}
.p-plan__item:not(:first-child) {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: 0;
  }
}

.p-plan__content {
  font-size: rem(14);
  margin-top: rem(20);
  padding: rem(20);
  background-color: #fff;
  line-height: calc(24 / 14);
  @include mq("md") {
    margin-top: rem(60);
    padding: rem(40);
    line-height: calc(28 / 14);
  }
}
