@use '../global/' as *;

.p-recommend{

}
.p-recommend__title{
}
.p-recommend__list{
  margin-top: rem(40);
  width: rem(450);
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  @include mq('md'){
    display: flex;
    flex-wrap: wrap;
    gap:rem(30);
    width: 100%;
    margin-top: rem(60);
  }
}
.p-recommend__item{
  @include mq('md'){
    width: calc((100% - (rem(30) * 2)) / 3);
  }
}
.p-recommend__item:not(:first-child){
  margin-top: rem(60);
  @include mq('md'){
    margin-top: 0;
  }
}
