@use "../global/" as *;

.p-staff-slider {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(160);
  }
}
.p-staff-slider__image {
}
.slick-slide {
  margin-right: 5px;
  margin-left: 5px;
  @include mq('md'){
    margin-right: 20px;
    margin-left: 20px;
  }
}
