@use "../global/" as *;

.p-staff-members {
  margin-top: rem(94);
  @include mq('md'){
    margin-top: rem(160);
  }
}

.p-staff-members__content {
  margin-top: rem(34);
  @include mq("md") {
    margin-top: rem(55);
  }
}
.p-staff-members__profession {
  font-size: rem(16);
  font-weight: bold;
  line-height: calc(32 / 16);
  padding-bottom: rem(4);
  letter-spacing: 0.08em;
  border-bottom: 1px solid #707070;
}
.p-staff-members__items {
  display: grid;
  grid-template-columns: 1f;
  gap: 53px;
  margin-top: rem(36);
  @include mq("md") {
    margin-top: rem(35);
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(60) rem(80);
  }
}
