@use "../global/" as *;

.p-sub-mv {
  margin: rem(40) rem(60) 0;
  display: block;
  position: relative;
  height: rem(340);
  background-position: center;
  background-size: cover;
  border-radius: rem(12);
  &::before {
    content: "";
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }
}
.p-sub-mv__contents{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.p-sub-mv__title{
  font-size: rem(24);
  color:#fff;
  letter-spacing: .2em;
  font-weight: bold;
  @include mq('md'){
    font-size: rem(32);
  }
}
.p-sub-mv__subtitle{
  font-size: rem(12);
  margin-top: rem(10);
  letter-spacing: .1em;
  color: #fff;
  @include mq('md'){
    font-size: rem(14);
  }
}
