
@use '../global/' as *;

.p-top{
}
.p-top__inner{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  @include mq('md'){
    flex-direction: row;
    justify-content: center;
  }
}
.p-top__info{
  margin-top: rem(-34);
  flex-grow: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  @include mq('md'){
    margin-top: rem(-40);
    margin-left: rem(52);
    max-width: 100%;
  }
}
.p-top__news{
  margin-top: rem(12);
  flex-grow: 1;
  flex-shrink: 0;
}
