@use '../global/' as *;


.p-working-info__tel{
  font-size: 32px;
  line-height: calc(36 / 24);
  margin-top: 5px;
  font-weight: bold;
  color: $primary-color;
  text-align: right;
  display: flex;
  align-items: baseline;
  a{
    color: $primary-color;
  }
  img{
    width: rem(30);
    margin-right: rem(5);
    vertical-align: middle;
  }
}

.p-working-info__time{
  font-size: rem(12);
  color:$primary-color;
  text-align: left;
  line-height: 1;
}