@use '../global/' as *;

.p-working-info__tel{
  line-height: calc(36 / 24);
  font-size: rem(20);
  font-weight: bold;
  color: $primary-color;
  align-items: baseline;
  letter-spacing: -0.02em;
  a{
    color: $primary-color;
  }
  img{
    width: rem(30);
    margin-right: rem(5);
    vertical-align: middle;
  }
  @include mq('md'){
    font-size: rem(32);
  }
}

.p-working-info__time{
  font-size: rem(12);
  color:$primary-color;
  text-align: left;
  line-height: 1;
}