@use '../global/' as *;

.p-plan{
  margin-top: rem(100);
  position: relative;
  @include mq('md'){
    margin-top: rem(140);
  }
}
.p-plan__bg{
  background-color: $sub-color02;
  padding-top: rem(23);
  padding-bottom: rem(95);
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-image: url(../img/index/deco-onestar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(30);
    height: rem(30);
    bottom: rem(10);
    left: rem(12);
  }
  &::after{
    content: '';
    position: absolute;
    background-image: url(../img/index/deco-twostar.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(60);
    height: rem(60);
    bottom: 0;
    right: rem(4);
  }
}

.p-plan__list{
  margin-top: rem(40);
  @include mq('md'){
    display: flex;
    flex-wrap: wrap;
  }
}
.p-plan__item{
  @include mq('md'){
    margin-left: rem(80);
    width: calc((100% - 80px) / 2);
    &:nth-child(2n+1){
      margin-left: 0;
    }
  }
}
.p-plan__item:not(:first-child){
  margin-top: rem(20);
  @include mq('md'){
    margin-top: 0;
  }
}

.p-plan__content{
  font-size: rem(14);
  margin-top: rem(20);
  padding: rem(20);
  background-color: #fff;
  line-height: calc(24/14);
  @include mq('md'){
    margin-top: rem(60);
  }
}
