@use '../global/' as *;

.p-top-news{
  margin-top: rem(20);
  padding: 0 rem(12);
  @include mq('xl'){
    width: rem(500);
  }
}
.p-top-news__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 rem(16);
  @include mq('md'){
    width: 100%;
  }
}
.p-top-news__title{
  font-size: rem(20);
  margin: 0;
}
.p-top-news__title--en{
  font-size: rem(11);
  font-weight: bold;
  margin-left: rem(20);
  display: inline-block;
  color: $primary-color;
}
.p-top-news__link{
  color:#888;
  border-bottom: 1px solid #888;
}
