
@use '../global/' as *;

.p-top{
}
.p-top__inner{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  @include mq('md'){
    flex-direction: row;
    justify-content: center;
  }
}
.p-top__info{
  margin-top: rem(-34);
  flex-grow: 1;
  img{
    width: 100%;
  }
  @include mq('md'){
    margin-top: rem(-54);
    margin-left: rem(63);
    max-width: 100%;
  }
}
.p-top__news{
  margin-top: rem(32);
  flex-grow: 1;
}
