@use '../global/' as *;

.p-sidenav-category{

}
.p-sidenav-category__list{
  margin-top: rem(10);
  margin-left: rem(20);
}
.p-sidenav-category__item{
  &:not(:first-child){
    margin-top: rem(5);
  }
}
.p-sidenav-category__link{
  font-size: 16px;
  &::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 12px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/icons/icon-arrow--blue.svg");
    margin-right: 10px;
  }
}
